.blog-list {
	position: relative;
	top: 0.5em;
	width: 60%;
	margin: auto;
}

.blog-list__item {
	padding-bottom: 1em;
}

.blog-list__header {
	@extend .title;
	@extend .git-box;
	margin-left: -1.25em;
	padding-left: 1.5em;
	>a {
		color: #4a4a4a;
	}
}