.line {
	display: inline-block;
	position: absolute;
	background-image: url('./img/line.png');
	background-repeat-x: no-repeat;
	background-repeat-y: repeat;
	background-contain: true;
	width: 4em;
	left: -5.5em;
	top: 2em;
	height:100%;
	z-index: -1;
}
