---
layout: default
---

<div class="container blog">
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="blog-list">
      {%- for post in site.posts -%}
      <li class="blog-list__item">
        <span class="line"></span>
        {%- assign date_format = "%b %-d, %Y" -%}
        <a class="blog-list__header" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        <div class="tag is-white">{{ post.date | date: date_format }}</div>
        {%- for category in post.categories -%}
        <span class="category-list"> {{category}} /</span>
        {%- endfor -%}

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}        
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>